@import url(../scss/responsive.scss);
//Variables
$mainColor: #ffb703;
$secondColor: #d62828;
$thirdColor: #219ebc;
$white: #fff;
$dark: #090a0f;
$darkLight: #1b2735;
$whiteLight: #c8c8c8;

//Custom Font
@font-face {
  font-family: "the_historia_demoregular";
  src: url("../fonts/fontsfree-net-thehistoriademo-webfont.woff2")
      format("woff2"),
    url("../fonts/fontsfree-net-thehistoriademo-webfont.woff") format("woff");
}

//Global styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
  font-weight: 600;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: $white;
  min-height: 100vh;
  max-width: 100%;
  background: black;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: grab;
  .hide-scrolling {
    overflow-y: hidden;
  }
}
a {
  text-decoration: none;
  color: $mainColor;
  cursor: pointer;
}
img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.min-vh-100 {
  min-height: 100vh;
}
button {
  font-family: inherit;
  font-weight: inherit;
}
.btn {
  background-color: $mainColor;
  padding: 9px 25px;
  font-family: inherit;
  font-size: 16px;
  color: $white;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: 600;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $white;
    transform: translate(4px, 4px);
    transition: transform 0.3s ease;
    pointer-events: none;
  }
}

@media screen and (min-width: 992px) {
  .btn:hover::before {
    transform: translate(0px, 0px);
  }
}
//Custom scrollbar
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px 0;
}
::-webkit-scrollbar-track {
  background-color: $dark;
}
::-webkit-scrollbar-thumb {
  background-color: $mainColor;
}

//Bg animation effect
.bg-animation-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  div {
    height: 4px;
    width: 4px;
    background-color: $darkLight;
    margin-left: calc((100% -40px) / 11);
    border-radius: 50%;
    &:nth-child(even) {
      animation: evenItems 9s linear infinite;
    }
    @keyframes evenItems {
      0% {
        transform: translateY(0vh);
      }
      100% {
        transform: translateY(12.5vh);
      }
    }
    &:nth-child(odd) {
      animation: oddItems 8s linear infinite;
    }
    @keyframes oddItems {
      0% {
        transform: translateY(0vh);
      }
      100% {
        transform: translateY(-12.5vh);
      }
    }
  }
}
//Cursor Effects
.cursor-effect {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid $whiteLight;
  transform: translate(-50%, -50%);
  pointer-events: none;
  position: absolute;
  transition: all 0.3s ease;
  // transition-property: background, transform;
  transform-origin: 100%, 100%;
  z-index: 1000;
  backdrop-filter: grayscale;
}
.link-grow {
  transform: scale(2);
  z-index: -1;
  background: $darkLight;
}
.hovered-link {
  filter: invert(100%);
}

//Section styling
.section-title {
  padding: 0 15px;
  width: 100%;
  margin-bottom: 40px;
  h2 {
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
  }
}
.section-pd {
  padding: 100px 0;
}
//Header styling
header {
  width: 100%;
  height: 100vh;
  .logo {
    position: fixed;
    top: 1rem;
    left: 2rem;
    width: 7rem;
    z-index: 49;
    background-color: rgba(11, 11, 15, 0.8);
    padding: 0.8rem 1.2rem;
    user-select: none;
    h2 {
      color: $whiteLight;
      span {
        color: $thirdColor;
      }
    }
  }
  .menu-toggler {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 500;
    transition: transform 650ms ease-out;
    &.open {
      transform: rotate(-45deg);
      .bar.start {
        transform: rotate(-450deg) translateX(0.3rem);
      }
      .bar.end {
        transform: rotate(-450deg) translateX(-0.3rem);
      }
    }
    .bar {
      background: linear-gradient(to left, $secondColor, $thirdColor);
      width: 100%;
      height: 2px;
      border-radius: 0.8rem;
      &.half {
        width: 50%;
      }
      &.start {
        transform-origin: right;
        transition: transform 650ms cubic-bezier(0.54, -0.01, 0.57, 0.57);
      }
      &.end {
        align-self: flex-end;
        transform-origin: left;
        transition: transform 650ms cubic-bezier(0.54, -0.01, 0.57, 0.57);
      }
    }
  }
  .top-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    z-index: 50;
    &.open {
      top: 0;
      border-radius: initial;
    }
    .nav-list {
      list-style: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 2rem;
        .nav-link {
          font-family: "the_historia_demoregular", -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
          font-size: 4rem;
          padding: 1rem;
          &:hover,
          &:focus {
            background: linear-gradient(to top, $mainColor, $secondColor);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  .landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 10;
    h1 {
      font-size: 10rem;
      font-family: "the_historia_demoregular", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
      padding: 1rem;
      background: linear-gradient(to top, $mainColor, $secondColor);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
    }
    h6 {
      font-size: 1rem;
      font-weight: 300;
    }
  }
  .scrolldown {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 1rem;
    height: 3.5rem;
    transform: translateY(-20px) translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .mouse {
      width: 1.2rem;
      height: 2.4rem;
      border: 1px solid $white;
      border-radius: 2rem;
      margin-bottom: 0.5rem;
      display: flex;
      span {
        width: 0.5rem;
        height: 0.5rem;
        background-color: white;
        display: block;
        border-radius: 50%;
        margin: auto;
        animation: pulse-scroll 1s linear infinite;
      }
    }
    .arrow {
      span {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border: 2px solid transparent;
        border-right-color: $white;
        border-bottom-color: $white;
        transform: rotate(45deg);
        animation: arrow-scroll 0.5s alternate-reverse infinite;
      }
    }
  }
}
@keyframes pulse-scroll {
  0% {
    opacity: 0;
    transform: translateY(-0.6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0.6rem);
  }
}
@keyframes arrow-scroll {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

//about
.about {
  margin-top: 10rem;
  height: 100vh;
  padding: 0 2rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .about-heading {
      text-align: center;
      text-transform: uppercase;
      line-height: 0;
      margin-bottom: 3rem;
      h1 {
        font-size: 6rem;
        opacity: 0.3;
      }
      h6 {
        font-size: 1rem;
        font-weight: 300;
      }
    }
    .profile-img {
      flex: 1;
      margin-right: 2.5rem;

      img {
        max-width: 100%;
        width: 700px;
        height: 500px;
        object-fit: cover;
      }
    }
    .about-content {
      flex: 1;
      p {
        margin-top: 5rem;
        text-align: center;
      }
      .about-cta {
        text-align: center;
        margin: 2rem 0;
        span {
          margin-left: 10px;
        }
        a {
          font-weight: 800;
          position: relative;
          color: $secondColor;
          &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0%;
            background-color: $mainColor;
            transition: width 0.3s ease;
          }
          &:hover::before {
            width: 100%;
          }
        }
        .exp-cta {
          color: $thirdColor;
          margin-left: 10px;
        }
      }
    }
  }
}
//Portfolio
.portfolio {
  padding-bottom: 70px;

  //Filter status
  .filter-status {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: $darkLight;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0.2s;
    &.active {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
      p {
        opacity: 1;
      }
    }
    p {
      font-size: 20px;
      color: $white;
      opacity: 0;
      transition: opacity 0.3s ease;
      span {
        font-weight: 500;
      }
    }
  }
}
.portfolio-filter {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  .portfolio-filter-btn {
    padding: 4px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: $darkLight;
    color: $whiteLight;
    text-transform: capitalize;
    margin: 0 4px 10px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    &.active {
      background-color: $mainColor;
      color: $white;
    }
  }
}
.portfolio-item {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  cursor: pointer;
  display: none;
  &.show {
    display: block;
  }
  &:hover {
    .portfolio-item-img {
      &::before,
      &::after {
        height: 50%;
      }
      .btn {
        opacity: 1;
        transition-delay: 0.2s;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  .portfolio-item-img {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 0%;
      width: 100%;
      background-color: $darkLight;
      opacity: 0.8;
      transition: height 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    .btn {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
      transition: all 0.3s ease;
    }
    img {
      max-width: 100%;
    }
  }
  .portfolio-item-title {
    font-size: 20px;
    margin: 10px 0 5px;
  }
}
///Contact Form
.contact {
  &.active {
    display: flex;
  }
  .contact-content {
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
    .contact-desc {
      margin-bottom: 30px;
    }
    .contact-info-item {
      margin-bottom: 12px;
      p {
        font-size: 20px;
        font-weight: 400;
      }
      .social-links {
        span {
          margin-right: 5px;
        }
        a {
          height: 40px;
          width: 40px;
          border: 1px solid $whiteLight;
          font-size: 16px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: $whiteLight;
          border-radius: 50%;
          transition: all 0.3s ease;
          margin: 0 3px;
          &:hover {
            color: $mainColor;
            border-color: $mainColor;
          }
        }
      }
    }
  }
}
