//Custom scrollbar
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px 0;
}
::-webkit-scrollbar-track {
  background-color: $dark;
}
::-webkit-scrollbar-thumb {
  background-color: $mainColor;
}

//Cursor Effects
.cursor-effect {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid $white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  position: absolute;
  transition: all 0.3s ease;
  // transition-property: background, transform;
  transform-origin: 100%, 100%;
  z-index: 1000;
  backdrop-filter: grayscale;
}
.link-grow {
  transform: scale(2);
  z-index: -1;
  background: $mainColor;
}

//GSAP Preloader
.intro {
  background: $dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.slider {
  background: $secondColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 1000;
}
.intro-text {
  color: $dark;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
}
.hide {
  background: $dark;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
  color: $whiteLight;
  background: -webkit-linear-gradient(white, $darkLight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

///////Glow
.glow {
  position: fixed;
  max-width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
  &:nth-child(even) {
    transform-origin: bottom;
  }
  span {
    position: absolute;
    top: calc(50px * var(--i));
    left: calc(50px * var(--i));
    bottom: calc(50px * var(--i));
    right: calc(50px * var(--i));
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -8px;
      width: 3px;
      height: 3px;
      background: #f00;
      border-radius: 50%;
    }
    &:nth-child(3n + 1)::before {
      background: rgba(134, 255, 0, 1);
      box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
        0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
        0 0 0 8px rgba(134, 255, 0, 1);
    }
    &:nth-child(3n + 2)::before {
      background: rgba(255, 214, 0, 1);
      box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
        0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
        0 0 0 8px rgba(255, 214, 0, 1);
    }
    &:nth-child(3n + 3)::before {
      background: rgba(0, 226, 255, 1);
      box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1),
        0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
        0 0 0 8px rgba(0, 226, 255, 1);
    }
    &:nth-child(3n + 1) {
      animation: animate 10s alternate infinite;
      animation-delay: 5s;
    }
    &:nth-child(3n + 2) {
      animation: animate-reverse 15s alternate infinite;
      animation-delay: 5s;
    }
    &:nth-child(3n + 3) {
      animation: animate-reverse 12s alternate infinite;
      animation-delay: 5s;
    }
  }
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
