//Custom scrollbar
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px 0;
}
::-webkit-scrollbar-track {
  background-color: $dark;
}
::-webkit-scrollbar-thumb {
  background-color: $mainColor;
}

//Cursor Effects
.cursor-effect {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid $white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 2000;
}
.link-grow {
  transform: scale(2);
  z-index: -200;
  background: $mainColor;
}

//GSAP Preloader
.intro {
  background: $dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.slider {
  background: $secondColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 1000;
}
.intro-text {
  color: $dark;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
}
.hide {
  background: $dark;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
  color: $whiteLight;
  background: -webkit-linear-gradient(white, $darkLight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

///////Shapes
.effect-wrap {
  .effect {
    position: absolute;
    z-index: 1;

    &-1 {
      width: 20px;
      height: 20px;
      border: 3px solid #8a49ff;
      right: 10%;
      bottom: 10%;
      animation: spin 10s linear infinite;
    }
    &-2 {
      left: 3%;
      bottom: 20%;
      width: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      animation: topBounce 3s ease-in-out infinite;
      div {
        height: 3px;
        width: 3px;
        background-color: #fb839e;
        margin: 0 3px 8px;
        border-radius: 50%;
      }
    }
    &-3 {
      border-top: 25px solid transparent;
      border-left: 25px solid #06d79c;
      right: 20%;
      top: 20%;
      animation: spin 15s linear infinite;
      &::before {
        content: "";
        border-top: 30px solid transparent;
        border-left: 30px solid #06d79c;
        position: absolute;
        opacity: 0.5;
        right: 0px;
        top: -25px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
