.about {
  margin-top: 13rem;
  height: 100vh;
  padding: 6rem 2rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .about-heading {
      text-align: center;
      text-transform: uppercase;
      line-height: 0;
      margin-bottom: 3rem;
      h1 {
        font-size: 5rem;
        opacity: 0.3;
      }
    }
    .profile-img {
      flex: 1;
      margin-right: 2.5rem;
      img {
        width: 700px;
        height: auto;
        object-fit: cover;
      }
    }
    .about-content {
      flex: 1;
      font-size: 1rem;

      p {
        margin-top: 5rem;
        text-align: center;
      }
      .about-cta {
        text-align: center;
        margin: 2rem 0;
        span {
          margin-left: 10px;
        }
        a {
          font-weight: 800;
          position: relative;
          color: $secondColor;
          &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0%;
            background-color: $secondColor;
            transition: width 0.3s ease;
          }
          &:hover::before {
            width: 100%;
          }
        }
        .exp-cta {
          color: $thirdColor;
          margin-left: 10px;
        }
      }
    }
  }
}
