header {
  width: 100%;
  height: 100vh;
  background: $dark;
  position: relative;
  .landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 10;
    user-select: none;
    h1 {
      font-size: 10rem;
      font-family: "the_historia_demoregular", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
      padding: 1rem;
      background: linear-gradient(to top, $mainColor, $secondColor);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      letter-spacing: 5px;
    }
    h5 {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
.logo {
  position: fixed;
  top: 1rem;
  left: 2rem;
  width: 4rem;
  background-color: rgba(11, 11, 15, 0.7);
  padding: 0.3rem;
  z-index: 101;
  user-select: none;
}
