.project {
  grid-column: 2/14;
  padding: 6rem;
  h5 {
    text-transform: uppercase;
    color: var(--whiteLight) !important;
    font-size: 0.8rem;
    letter-spacing: 3px;
  }
  h2 {
    font-size: 2.2rem;
    text-transform: capitalize;
    letter-spacing: -1px;
  }

  &-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 4rem;
    color: var(--bg);
    margin-top: 6rem;
  }

  &-box {
    padding: 2rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;

    &:hover {
      border: solid 2px var(--white);
      color: var(--white);
    }
  }

  .project-box:nth-child(1):hover:after {
    outline: 2px solid lightblue;
    background: lightblue;
  }
  .project-box:nth-child(2):hover:after {
    background: lightcoral;
    outline: 2px solid lightcoral;
  }
  .project-box:nth-child(3):hover:after {
    background: lightcyan;
    outline: 2px solid lightcyan;
  }
  .project-box:nth-child(4):hover:after {
    background: lightgray;
    outline: 2px solid lightslategray;
    .project-box__link {
      width: min-content;
    }
  }
  .project-box:nth-child(5):hover:after {
    background: lightgreen;
    outline: 2px solid lightgreen;
    .project-box__link {
      width: min-content;
    }
  }
  .project-box:nth-child(6):hover:after {
    background: lightyellow;
    outline: 2px solid lightyellow;
    .project-box__link {
      width: min-content;
    }
  }
  .project-box:nth-child(7):hover:after {
    background: lightseagreen;
    outline: 2px solid lightseagreen;
    .project-box__link {
      width: min-content;
    }
  }
  .project-box:nth-child(8):hover:after {
    background: lightpink;
    outline: 2px solid lightpink;
    .project-box__link {
      width: min-content;
    }
  }

  &-box__link {
    align-self: flex-end;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media only screen and (max-width: 56.25em) {
      // tab-port
      width: 30%;
    }
    a ion-icon {
      width: 35px;
      height: 25px;
      color: var(--white);
    }
  }
  &-box__content {
    align-self: center;
    h3 {
      margin-bottom: 3rem;
      letter-spacing: -0.5px;
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: 800;
      text-transform: capitalize;
      color: var(--whiteLight);
    }
    h5 {
      color: var(--secondColor);
      font-size: 1em;
      font-weight: 400;
    }
  }
}

.project-box {
  position: relative;
  background: var(--bg);
  border: 1px solid var(--white);
  &:after {
    content: "";
    position: absolute;
    width: 103%;
    height: 101%;
    top: 1rem;
    right: 0.5rem;
    z-index: -1;
  }
  &:hover {
    background: none;
    background-color: var(--darkBlue);
    transition: all 0.2s ease;
  }
  // &:hover img,
  // h3,
  // h5 {
  //   filter: invert(1);
  // }
  &:hover:after {
    transition: all 0.2s ease;
  }

  &__absolute-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
