//Variables
html {
  --mainColor: #34a3a3;
  --secondColor: #bae8e8;
  --thirdColor: #27496d;
  --pink: #fb839e;
  --green-alt: #06d79c;
  --purple: #8a49ff;
  --bg: black;
  --darkBlue: #0b0b0f;
  --white: white;
  --whiteLight: #ffffffcc;
}
html[data-theme="light"] {
  --mainColor: #2f5d62;
  --secondColor: #5e8b7e;
  // --thirdColor: #302d6e;
  --pink: #34a3a3;
  --green-alt: #94d0cc;
  --purple: #eba83a;
  --bg: #fff;
  --darkBlue: #f5f5f7;
  --white: #131313;
  --whiteLight: #a1b3b0;
}
